services:
  postgres:
    image: postgres:latest
    container_name: my-postgres
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:-mysecretpassword}
      POSTGRES_USER: ${DB_USER:-myuser}
      POSTGRES_DB: ${DB_NAME:-mydatabase}
    ports:
        - "${DB_PORT:-5433}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-myuser}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
